<link rel="stylesheet" href="/css/footer.css" />
<footer>
  <div class="menu-box">
    <div class="footerContent">
      <div class="box-1 displayFlex">
        <div class="footerCard">
          <div class="imgContainer">
            <img class="logo" src="/images/logo.png" />
          </div>
          <div class="description">
            <p>
              dribble is the world's leading community for creativity to share,
              grow, and get heired.
            </p>
          </div>
          <div class="media-logo">
            <img src="/svgs/dribble.svg" />
            <img src="/svgs/twitter.svg" />
            <img src="/svgs/facebook.svg" />
            <img src="/svgs/instagram.svg" />
            <img src="/svgs/pintrest.svg" />
          </div>
        </div>
      </div>
      <div class="box-2 paddingLine">
        <p><b>For designers</b></p>

        <p>Go Pro!</p>

        <p>Explordesign work</p>

        <p>Design blog</p>

        <P>Overtime podcast</P>

        <p>Playoffs</p>

        <p>WeeklWarm-Up</p>

        <p>Refea Friend</p>

        <p>Codof conduct</p>
      </div>
      <div class="box-3 paddingLine">
        <p><b>Hire designers</b></p>

        <p>Post a job opening</p>

        <p>Post a freelance project</p>

        <p>Search for designers</p>

        <p><b>Brands</b></p>

        <p>Advertise with us</p>
      </div>
      <div class="box-4 paddingLine">

        <p><b>Company</b></p>

        <p>About</p>

        <p>Careers</p>

        <p>Support</p>

        <p>Media kit</p>

        <p>Testimonials</p>

        <p>API</p>

        <p>Terms of service</p>

        <p>Privacy policy</p>

        <p>Cookie policy</p>
      </div>
      <div class="box-5 paddingLine">
        <p><b>Directories</b></p>

        <p>Design jobs</p>

        <p>Designers for hire</p>

        <p>Freelance designers for hire</p>

        <p>Tags</p>

        <p>Places</p>

        <p><b>Design assets</b></p>

        <p>Dribbble Marketplace</p>

        <p>Creative Market</p>

        <p>Fontspring</p>

        <p>Font Squirrel</p>
      </div>
      <div class="box-6 paddingLine">
        <p><b>Design Resources</b></p>

        <p>Freelancing</p>

        <p>Design Hiring</p>

        <p>Design Portfolio</p>

        <p>Design Education</p>

        <p>Creative Process</p>

        <p>Design Industry Trends</p>
      </div>
      
    </div>
    <div class="copyRight  displayFlex">
      <div class="left">
        <p>&copy; 2024 Dribbble. All rights reserved.</p>
      </div>
      <div class="right displayFlex ">
        <p><span><b>20,501,853</b></span> shots dribbled</p>
        <img src="/svgs/dribble-color.svg">
        
      </div>
    </div>
  </div>
</footer>
