<link rel="stylesheet" href="/css/home.css" />
<div id="page2">
  <main id="main1">
    <!-- <img id="background"  src="https://img.freepik.com/free-vector/black-background-with-focus-spot-light_1017-27230.jpg?size=626&ext=jpg&ga=GA1.1.515263783.1711565413&semt=ais"> -->
    <div class="content_box">
      <div class="blog_content">
        <!-- first blog -->
        <div class="blog">
          <div class="image">
            <img
              src="https://thegadgetflow.com/wp-content/uploads/2022/07/These-tech-gadgets-can-entertain-you-without-taking-up-much-space-blog-featured.jpeg"
            />
          </div>
          <div class="all_info">
            <div class="blog_titel">
              <h2>New Gadgets Released</h2>
              <p>
                Check out the latest tech gadgets hitting the market, form
                smatphone to smartwatches.
              </p>
            </div>
            <div class="blog_admin">
              <div class="right_box">
                <div class="admin_image">
                  <img
                    src="https://as1.ftcdn.net/v2/jpg/07/53/36/20/1000_F_753362045_3giX3NCJ6B6XkKRjdawCS7Jtz25ixtWB.webp"
                  />
                </div>
                <div class="admin_info">
                  <p class="name">Jhon Doe</p>
                  <p>Sept 19,2021</p>
                </div>
              </div>
              <div class="left_box">Technology</div>
            </div>
          </div>
        </div>
        <!-- second blog -->
        <div class="blog">
          <div class="image">
            <img
              src="https://miro.medium.com/v2/resize:fit:640/1*exJh0aafYxiFFGZno_bI9g.jpeg"
            />
          </div>
          <div class="all_info">
            <div class="blog_titel">
              <h2>Healthy Eating Tips</h2>
              <p>
                Discover simple tips for maintaining a healthy diet and making
                nutritious food choice
              </p>
            </div>
            <div class="blog_admin">
              <div class="right_box">
                <div class="admin_image">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_YMdizQWbgfzAT5ZNxlH7UyxMXtSEge5HZw&usqp=CAU"
                  />
                </div>
                <div class="admin_info">
                  <p class="name">Emily Smith</p>
                  <p>August 5,2021</p>
                </div>
              </div>
              <div class="left_box">Nutrition</div>
            </div>
          </div>
        </div>
        <!-- third blog -->
        <div class="blog">
          <div class="image">
            <img
              src="https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2019/12/Featured_Image.jpg?w=1200&h=750&crop=1"
            />
          </div>
          <div class="all_info">
            <div class="blog_titel">
              <h2>Travel Bucket List</h2>
              <p>
                Explore breathtaking destinations and add them to your travel
                bucket list for an unforgettable adventure.
              </p>
            </div>
            <div class="blog_admin">
              <div class="right_box">
                <div class="admin_image">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0CIhSCSswqF1Dg8tsfJI6G3stSYK89kN0SQ&usqp=CAU"
                  />
                </div>
                <div class="admin_info">
                  <p class="name">David Jhonson</p>
                  <p>June 19,2021</p>
                </div>
              </div>
              <div class="left_box">Travel</div>
            </div>
          </div>
        </div>
        <!-- fourth blog -->
        <div class="blog">
          <div class="image">
            <img
              src="https://saiuniversity.edu.in/wp-content/uploads/2022/06/pexels-mike-1178684-1.jpg"
            />
          </div>
          <div class="all_info">
            <div class="blog_titel">
              <h2>Effective Time management</h2>
              <p>
                Learn time management techniques to boost productivity and
                balance work and personal life.
              </p>
            </div>
            <div class="blog_admin">
              <div class="right_box">
                <div class="admin_image">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbd8HtpG_L6679sTXVpAW9tErkn4YMrqT78A&usqp=CAU"
                  />
                </div>
                <div class="admin_info">
                  <p class="name">Sarah Wilson</p>
                  <p>Sept 12,2021</p>
                </div>
              </div>
              <div class="left_box">productivity</div>
            </div>
          </div>
        </div>
        <!-- fifth blog -->
        <div class="blog">
          <div class="image">
            <img
              src="https://www.psychalive.org/wp-content/uploads/2012/04/Tao-mindfulness.jpg"
            />
          </div>
          <div class="all_info">
            <div class="blog_titel">
              <h2>Art of Mindfulness</h2>
              <p>
                Discover the power of mindfulness meditation for reducing stress
                and improving mental well-being.
              </p>
            </div>
            <div class="blog_admin">
              <div class="right_box">
                <div class="admin_image">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPaSSe9ZOTgZ9VU4I4YZMTOIW4jpAItyAMM3Juo11GmyJMZlT5ksS0OHjnh_P94OUROTw&usqp=CAU"
                  />
                </div>
                <div class="admin_info">
                  <p class="name">Mark Anderson</p>
                  <p>July 19,2021</p>
                </div>
              </div>
              <div class="left_box">Mindfulness</div>
            </div>
          </div>
        </div>
        <!-- sixth blog -->
        <div class="blog">
          <div class="image">
            <img
              src="https://www.blurb.com/blog/wp-content/uploads/2020/03/20200213_FebBlog_1920x1080_WallDecorIdeas_v3.jpg"
            />
          </div>
          <div class="all_info">
            <div class="blog_titel">
              <h2>DIY Home Decor</h2>
              <p>
                Get creative with DIY home decor projects that will transform
                your living space on a budget.
              </p>
            </div>
            <div class="blog_admin">
              <div class="right_box">
                <div class="admin_image">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5lh61PeLqVVAZQQlsSEZeG-0l3mhzAR4lmA&usqp=CAU"
                  />
                </div>
                <div class="admin_info">
                  <p class="name">Laura brown</p>
                  <p>August 30,2021</p>
                </div>
              </div>
              <div class="left_box">Home Decor</div>
            </div>
          </div>
        </div>
        <!-- seventh blog -->
        <div class="blog">
          <div class="image">
            <img
              src="https://v1fiber.com/wp-content/uploads/2023/02/Fiber-Optics-Renewable-Energy.jpeg.webp"
            />
          </div>
          <div class="all_info">
            <div class="blog_titel">
              <h2>Green Energy Solutions</h2>
              <p>
                Explore eco-friendly energy solutions for a sustainable future
                and reducing your carbon footprint.
              </p>
            </div>
            <div class="blog_admin">
              <div class="right_box">
                <div class="admin_image">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQTa4jl-C1yJx9OpjAIwKvrPthovA90EpAmQ&usqp=CAU"
                  />
                </div>
                <div class="admin_info">
                  <p class="name">Micheal Turner</p>
                  <p>January 1,2023</p>
                </div>
              </div>
              <div class="left_box">Sustainablity</div>
            </div>
          </div>
        </div>
        <!-- eighth blog -->
        <div class="blog">
          <div class="image">
            <img
              src="https://lntedutech.com/wp-content/uploads/2023/09/The-Power-of-Positive-Thinking-scaled-1-1024x701.jpg"
            />
          </div>
          <div class="all_info">
            <div class="blog_titel">
              <h2>The Power of Positivity</h2>
              <p>
                Discover how a positive mindset can improve your life and lead
                to greater happiness and success.
              </p>
            </div>
            <div class="blog_admin">
              <div class="right_box">
                <div class="admin_image">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmsqTaiLjc9SUgDrS3OQU_gBkRpk-O6CEItA&usqp=CAU"
                  />
                </div>
                <div class="admin_info">
                  <p class="name">Rachel Clark</p>
                  <p>October 10,2021</p>
                </div>
              </div>
              <div class="left_box">Positivity</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
